<%- include('navbar') %>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="text-center m-5">Todos nuestros trainers</h1>
    </div>
  </div>
  <div class="row">
    <% result.forEach(trainer => { %>
    <div class="col-4 d-flex justify-content-center my-5">
      <div class="card" style="width: 18rem">
        <img
          src="/images/trainers/<%- trainer.photo %>"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title"><%- trainer.email %></h5>
          <a
            href="/trainer/oneTrainer/<%- trainer.trainer_id %>"
            class="btn btn-primary"
            >Más info</a
          >
          <a
            href="/trainer/otherOneTrainer/<%- trainer.trainer_id %>"
            class="btn btn-primary"
            >Otra vista de perfil</a
          >
        </div>
      </div>
    </div>

    <% }) %>
  </div>
</div>

<%- include('footer') %>